
osuautodeafen/bin/Debug/net8.0/osuautodeafen.dll
osuautodeafen/bin/Debug/net8.0/osuautodeafen.exe
osuautodeafen/bin/Debug/net8.0/osuautodeafen.pdb
osuautodeafen/obj/Debug/net8.0/refint/osuautodeafen.dll
osuautodeafen/obj/Debug/net8.0/ref/osuautodeafen.dll
osuautodeafen/obj/Debug/net8.0/osuautodeafen.sourcelink.json
osuautodeafen/obj/Debug/net8.0/osuautodeafen.pdb
osuautodeafen/obj/Debug/net8.0/osuautodeafen.dll
osuautodeafen/obj/Debug/net8.0/osuautodeafen.AssemblyInfoInputs.cache
osuautodeafen/obj/Debug/net8.0/osuautodeafen.AssemblyInfo.cs
osuautodeafen/obj/Debug/net8.0/Avalonia/Resources.Inputs.cache
osuautodeafen/obj/Debug/net8.0/Avalonia/resources
osuautodeafen/obj/Debug/net8.0/Avalonia/original.ref.dll
osuautodeafen/obj/Debug/net8.0/Avalonia/original.pdb
osuautodeafen/obj/Debug/net8.0/Avalonia/original.dll
/osuautodeafen/bin
/osuautodeafen/obj
/osuautodeafen/obj
/Releases
/osuautodeafen/obj/Release
.idea/.idea.osuautodeafen/.idea/projectSettingsUpdater.xml
.idea/.idea.osuautodeafen/.idea/workspace.xml
.idea/.idea.osuautodeafen/.idea/discord.xml
.idea/.idea.osuautodeafen/.idea/indexLayout.xml
osuautodeafen/bin/Release/net8.0/win-x64/osuautodeafen.dll
osuautodeafen/bin/Release/net8.0/win-x64/osuautodeafen.exe
osuautodeafen/bin/Release/net8.0/win-x64/osuautodeafen.pdb
osuautodeafen/obj/rider.project.restore.info
osuautodeafen/obj/project.packagespec.json
osuautodeafen/obj/project.nuget.cache
osuautodeafen/obj/project.assets.json
osuautodeafen.sln.DotSettings.user
/.idea/
